/* Coolors Exported Palette - coolors.co/dddfd4-5b6057-7fc6a4-5d737e-55505c */

/* HSL */
$background: hsla(71%, 15%, 85%, 1);
$color2: hsla(93%, 5%, 36%, 1);
$color3: hsla(151%, 38%, 64%, 1);
$color4: hsla(200%, 15%, 43%, 1);
$color5: hsla(265%, 7%, 34%, 1);

/* RGB */
$background: rgba(223, 224, 217, 1);
$color2: rgba(91, 96, 87, 1);
$accent: rgba(127, 198, 164, 1);
$secondary-text: rgba(93, 115, 126, 1);
$primary: rgba(85, 80, 92, 1);
$parimary-opacity: rgba(85, 80, 92, .4);